*{
    padding: 0px;
    margin: 0px;
}
html,body{
    background-color: #fff;
}
.header1000{
    background-image: url("https://gdp.alicdn.com/imgextra/i3/1917047079/TB2ArR0ipXXXXacXXXXXXXXXXXX_!!1917047079.jpg")  ;
    width: auto;
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position:40% 50%;
    background-size:cover;
}
.header1001{
    background-image: url("https://gdp.alicdn.com/imgextra/i3/1917047079/TB2biFyj9tkpuFjy0FhXXXQzFXa_!!1917047079.png")  ;
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position:40% 50%;
    background-size:cover;
}
.header1002{
    background-image: url("https://gdp.alicdn.com/imgextra/i1/1917047079/TB2IGWfgXXXXXXAXpXXXXXXXXXX_!!1917047079.jpg")  ;
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position:40% 50%;
    background-size:cover;
}
.header1003{
    background-image: url("https://gdp.alicdn.com/imgextra/i1/1917047079/TB291mvyctnpuFjSZFvXXbcTpXa_!!1917047079.png")  ;
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
    padding-top: 50%;
    background-color: #fff;
    background-position:40% 50%;
    background-size:cover;
}



.transparentBg{
    background-color: rgba(255,255,255,0.6);
    padding: 10px;
    border-radius: 5px;
}
.mydisable{
    top: 0 !important;
    background: #ff6f6f !important;
    border: 1px solid #DDD !important;
    text-shadow: 0 1px 1px white !important;
    color: #eceeef !important;
    cursor: default !important;
    appearance: none !important;
}
.myjumbotron {
    padding: 10rem 1rem;
    background-color: #eceeef;
    border-radius: .3rem;
}

